<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartnursinghome.system.mapper.WebsiteFacilityImagesMapper">
    
    <resultMap type="WebsiteFacilityImages" id="WebsiteFacilityImagesResult">
        <result property="imageId"    column="image_id"    />
        <result property="facilityId"    column="facility_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWebsiteFacilityImagesVo">
        select image_id, facility_id, image_url, sort_order, create_time from website_facility_images
    </sql>

    <select id="selectWebsiteFacilityImagesList" parameterType="WebsiteFacilityImages" resultMap="WebsiteFacilityImagesResult">
        <include refid="selectWebsiteFacilityImagesVo"/>
        <where>  
            <if test="facilityId != null "> and facility_id = #{facilityId}</if>
        </where>
        order by sort_order asc
    </select>
    
    <select id="selectWebsiteFacilityImagesByImageId" parameterType="Long" resultMap="WebsiteFacilityImagesResult">
        <include refid="selectWebsiteFacilityImagesVo"/>
        where image_id = #{imageId}
    </select>

    <select id="selectWebsiteFacilityImagesByFacilityId" parameterType="Long" resultMap="WebsiteFacilityImagesResult">
        <include refid="selectWebsiteFacilityImagesVo"/>
        where facility_id = #{facilityId}
        order by sort_order asc
    </select>
        
    <insert id="insertWebsiteFacilityImages" parameterType="WebsiteFacilityImages" useGeneratedKeys="true" keyProperty="imageId">
        insert into website_facility_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="facilityId != null">facility_id,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="facilityId != null">#{facilityId},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWebsiteFacilityImages" parameterType="WebsiteFacilityImages">
        update website_facility_images
        <trim prefix="SET" suffixOverrides=",">
            <if test="facilityId != null">facility_id = #{facilityId},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
        </trim>
        where image_id = #{imageId}
    </update>

    <delete id="deleteWebsiteFacilityImagesByImageId" parameterType="Long">
        delete from website_facility_images where image_id = #{imageId}
    </delete>

    <delete id="deleteWebsiteFacilityImagesByImageIds" parameterType="String">
        delete from website_facility_images where image_id in 
        <foreach item="imageId" collection="array" open="(" separator="," close=")">
            #{imageId}
        </foreach>
    </delete>

    <delete id="deleteWebsiteFacilityImagesByFacilityId" parameterType="Long">
        delete from website_facility_images where facility_id = #{facilityId}
    </delete>
</mapper>











