<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartnursinghome.system.mapper.WebsiteRoomMapper">

    <resultMap type="WebsiteRoom" id="WebsiteRoomResult">
        <result property="roomId"    column="room_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="roomType"    column="room_type"    />
        <result property="totalBeds"    column="total_beds"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWebsiteRoomVo">
        select room_id, room_number, room_type, total_beds, image_url, status, create_by, create_time, update_by, update_time, remark from website_room
    </sql>

    <select id="selectWebsiteRoomList" parameterType="WebsiteRoom" resultMap="WebsiteRoomResult">
        <include refid="selectWebsiteRoomVo"/>
        <where>
            <if test="roomNumber != null  and roomNumber != ''"> and room_number = #{roomNumber}</if>
            <if test="roomType != null  and roomType != ''"> and room_type = #{roomType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectWebsiteRoomByRoomId" parameterType="Long" resultMap="WebsiteRoomResult">
        <include refid="selectWebsiteRoomVo"/>
        where room_id = #{roomId}
    </select>

    <insert id="insertWebsiteRoom" parameterType="WebsiteRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into website_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomNumber != null and roomNumber != ''">room_number,</if>
            <if test="roomType != null and roomType != ''">room_type,</if>
            <if test="totalBeds != null">total_beds,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomNumber != null and roomNumber != ''">#{roomNumber},</if>
            <if test="roomType != null and roomType != ''">#{roomType},</if>
            <if test="totalBeds != null">#{totalBeds},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWebsiteRoom" parameterType="WebsiteRoom">
        update website_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomNumber != null and roomNumber != ''">room_number = #{roomNumber},</if>
            <if test="roomType != null and roomType != ''">room_type = #{roomType},</if>
            <if test="totalBeds != null">total_beds = #{totalBeds},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where room_id = #{roomId}
    </update>

    <delete id="deleteWebsiteRoomByRoomId" parameterType="Long">
        delete from website_room where room_id = #{roomId}
    </delete>

    <delete id="deleteWebsiteRoomByRoomIds" parameterType="String">
        delete from website_room where room_id in
        <foreach item="roomId" collection="array" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>
</mapper>
